.main-nav {
  padding: .5em 3em 0em 0em;
  font-size: larger;
  text-align-last: end;
}

h2#completed-hack-the-box-academy-paths,
h2#completed-hack-the-box-academy-modules {
  padding: .5em 0em .25em 0em;
}

.experience_content {
  padding-bottom: 1em;
}
li {
  padding-left: 1em;
}